<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>First Component</title>
</head>

<body>
	<script src="https://fb.me/react-0.14.2.js"></script>
	<script src="https://fb.me/react-dom-0.14.2.js"></script>
	<div id="app"></div>
	<script type="text/jsx">
		var MessageBox=React.createClass({
			render: function() {
				return <1>Hello, World</h1>;
			}
		});
	</script>
</body></html>